@tailwind base;
@tailwind components;

@layer components {
	.card.image-full:before {
		opacity: 0.6;
	}

	.card.card-parallax {
		display: grid;
	}
	.card.card-parallax:before {
		position: relative;
		content: '';
		z-index: 10;
		--tw-bg-opacity: 0.25;
		background-color: hsl(var(--n) / var(--tw-bg-opacity));
		opacity: 0.25;
		border-radius: var(--rounded-box, 0rem);
	}
	.card.card-parallax:before,
	.card.card-parallax > * {
		grid-column-start: 1;
		grid-row-start: 1;
	}
	.card.card-parallax:before,
	.card.card-parallax > * {
		grid-column-start: 1;
		grid-row-start: 1;
	}
	.card.card-parallax > figure img {
		height: 100%;
		object-fit: cover;
	}
	.card.card-parallax > .card-body {
		position: relative;
		z-index: 20;
		--tw-text-opacity: 1;
		color: hsl(var(--n) / var(--tw-text-opacity));
	}
}

@tailwind utilities;

@layer utilities {
	.underline-base {
		background-image: linear-gradient(#33333300, #33333300), linear-gradient(to right, hsl(var(--p)), hsl(var(--p)));
		background-size: 100% 2px, 0 2px;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
	}
	.underline-base-content {
		background-image: linear-gradient(#33333300, #33333300), linear-gradient(to right, hsl(var(--bc)), hsl(var(--bc)));
		background-size: 100% 2px, 0 2px;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
	}
	.underline-primary-content {
		background-image: linear-gradient(#33333300, #33333300), linear-gradient(to right, hsl(var(--pc)), hsl(var(--pc)));
		background-size: 100% 2px, 0 2px;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
	}
	.underline-secondary-content {
		background-image: linear-gradient(#33333300, #33333300), linear-gradient(to right, hsl(var(--sc)), hsl(var(--sc)));
		background-size: 100% 2px, 0 2px;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
	}
	.underline-accent-content {
		background-image: linear-gradient(#33333300, #33333300), linear-gradient(to right, hsl(var(--ac)), hsl(var(--ac)));
		background-size: 100% 2px, 0 2px;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
	}
	.underline-info-content {
		background-image: linear-gradient(#33333300, #33333300), linear-gradient(to right, hsl(var(--inc)), hsl(var(--inc)));
		background-size: 100% 2px, 0 2px;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
	}
	.underline-warning-content {
		background-image: linear-gradient(#33333300, #33333300), linear-gradient(to right, hsl(var(--wac)), hsl(var(--wac)));
		background-size: 100% 2px, 0 2px;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
	}
	.underline-error-content {
		background-image: linear-gradient(#33333300, #33333300), linear-gradient(to right, hsl(var(--erc)), hsl(var(--erc)));
		background-size: 100% 2px, 0 2px;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
	}
	.underline-neutral-content {
		background-image: linear-gradient(#33333300, #33333300), linear-gradient(to right, hsl(var(--nc)), hsl(var(--nc)));
		background-size: 100% 2px, 0 2px;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
	}

	.underline-base:hover,
	.underline-base-content:hover,
	.underline-primary-content:hover,
	.underline-secondary-content:hover,
	.underline-accent-content:hover,
	.underline-info-content:hover,
	.underline-warning-content:hover,
	.underline-error-content:hover,
	.underline-neutral-content:hover {
		background-size: 0 2px, 100% 2px;
	}
}

.slick-dots,
.slick-next,
.slick-prev {
	position: absolute;
	display: block;
	padding: 0;
}
.slick-dots li button:before,
.slick-next:before,
.slick-prev:before {
	font-family: slick;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-next,
.slick-prev {
	font-size: 0;
	line-height: 0;
	top: 50%;
	width: 20px;
	height: 20px;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: 0;
	background: 0 0;
}
.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
	color: transparent;
	outline: 0;
	background: 0 0;
	@apply transition-all duration-200 ease-in;
}
.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
	opacity: 1;
}
.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
	opacity: 0.25;
}
.slick-next:before,
.slick-prev:before {
	font-size: 20px;
	line-height: 1;
	opacity: 0.75;
	color: hsl(var(--n));
}
.slick-prev {
	left: -25px;
}
[dir='rtl'] .slick-prev {
	right: -25px;
	left: auto;
}
.slick-prev:before {
	content: '←';
}
.slick-next:before,
[dir='rtl'] .slick-prev:before {
	content: '→';
}
.slick-next {
	right: -25px;
}
[dir='rtl'] .slick-next {
	right: auto;
	left: -25px;
}
[dir='rtl'] .slick-next:before {
	content: '←';
}
.slick-dotted.slick-slider {
	margin-bottom: 30px;
}
.slick-dots {
	bottom: -25px;
	width: 100%;
	margin: 0;
	list-style: none;
	text-align: center;
}
.slick-dots li {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 3px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}
.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 3px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: 0;
	background: 0 0;
}
.slick-dots li button:focus,
.slick-dots li button:hover {
	outline: 0;
	@apply transition-all duration-200 ease-in;
}
.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
	opacity: 1;
	@apply transition-all duration-200 ease-in;
}
.slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	content: '';
	background: hsl(var(--n));
	height: 4px;
	opacity: 0.4;
	color: hsl(var(--n));
}
.slick-dots li.slick-active button:before {
	color: hsl(var(--n));
}
